// 객체형태로 만들기(변수지정이라 생각하면 편할 듯)
$flex-map: (
    start: flex-start,
    end: flex-end,
    between: space-between,
    around: space-around,
    stretch: stretch,
    center: center,
);

// 변수지정해서 내보내기
@function _get-flex-value($key) {
    @return map-get($flex-map, $key);
}

// end 라는 키값(변수지정)을 입력하면 flex-end라 반환해준다.
@mixin flexbox($jc: center, $ai: center) {
    display: flex;
    justify-content: _get-flex-value($jc);
    align-items: _get-flex-value($ai);
}

@mixin inline-flexbox($jc: center, $ai: center) {
    display: inline-flex;
    justify-content: _get-flex-value($jc);
    align-items: _get-flex-value($ai);
}

@mixin column-flexbox($jc: center, $ai: center) {
    display: flex;
    flex-direction: column;
    justify-content: _get-flex-value($jc);
    align-items: _get-flex-value($ai);
}
